.myProjects__wrapper {
  padding-bottom: 100px;
  min-height: 500px;  
}

.myProjects__list{
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.myProjects__container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 120px;

}

.myProjects__description{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}


.myProjects__container-right h3{
  text-align: right;
}

.myProjects__container-right .myProjects__text{
  align-self: flex-end;
}

.myProjects__image {
  display: block;
  background-size: cover;
  height: 420px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 10px #cccccc;
  width: 52%;
}

.myProjects__image-project1{
  background-image: url('../../assets/img/Project1.PNG');
}


.myProjects__image-project2{
  background-image: url('../../assets/img/project2.PNG');
}

.myProjects__image:hover{
  transform: scale(1.2);
  transition: 1s;
}
.myProjects h3{
  margin: 0;
}

.myProjects__image:hover::before{
  content: 'Открыть';
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  border-radius: 10px;
  opacity: 0.7;
}

.myProjects__text{
  box-shadow: 4px 4px 23px 0 rgba(34,60,80,.2);
  padding: 18px;
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
}


.myProjects__skils{
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.myProjects__skils > * {
  border: 1px solid rgba(34,60,80,.2);
  padding: 10px;
  border-radius: 12px;
}

.myProjects__icons{
  display: flex;
  justify-content: end;
  gap: 30px;
}

.myProjects__link:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 1400px){
  .myProjects__description{
    width: 80%;
  }
  .myProjects__image{
    display: none;
  }
  .myProjects__container-right h3{
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .myProjects__description{
    width: 100%;
  }

  .myProjects__list{
    gap: 50px;
  }
}